body {
  font-family: Arial;
  text-align: center;
}

#map {
  height: 70vh;
  margin-top: 10px;
}

.form-box {
  background: #f4f4f4;
  padding: 10px;
  border-radius: 10px;
}

button, select, input {
  margin: 5px;
  padding: 8px;
}
